/*设置body最小宽度为1200px*/
body{
    min-width:1200px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*用clearfix类解决高度塌陷*/
.clearfix::after,
.clearfix::before{
    content: "";
    display: table;
    clear: both;
}
/*-----------------------------------------------------------------*/
/*设置顶部导航条的样式*/
#nav{
    display: flex;
    flex-direction: row;
    background-color: orange;
    border-radius: 20px;
    opacity: 0.85;
    margin: 10px 15px;
}

#nav li{
    flex: auto;
    line-height: 55px;
    padding-left: 32px;
    padding-right: 3px;
    margin-left: -5%;

}
/*设置导航样式*/
#about a,#introduction a,#qa a,#contact a{
    font-size: 25px;
    display: block;
    line-height: 60px;
    text-align: center;
    color: #f0f8ff;
    transition: all 0.5s;
    border-radius: 20px;
}

/*导航鼠标悬浮样式*/
#about a:hover,#introduction a:hover,#qa a:hover,#contact a:hover{
    background-color:#ff7f50;
    color: #808080;
}

/*设置导航newthread样式*/
#newthread a{
    color:#708090;
    font-size: 30px;
    display: block;
    line-height: 60px;
    text-align: center;
    margin: 0 25px;
    border-radius: 20px;
}
/*设置导航newthread鼠标悬浮*/
#newthread a:hover{
    color: #f0f8ff;
    background-color:coral;
    transition: all 0.8s;
}

nav{
    position: sticky;
    top: 5px;
    z-index: 1000;
}

/*-----------------------------------------------------------------*/
/*添加二维码*/
#introduction{
    position: relative;
}
#QRcode{
    position: absolute;
    text-align: center;
    left: 100px;
    top: 65px;
    width: 180px;
    border-radius: 8px;
    transition:height 0.5s;
    height: 0px;
    overflow: hidden;
}
#QRcode p{
    line-height: 10px;
    margin-top: -1px;
}
#introduce:hover #QRcode{
    height: 280px;
    background-color:#ffffff;
    border: 5px solid #ff7f50;
}
/*箭头*/
#introduce:hover::after{
    display: block;
}
#introduce::after{
    border: 10px solid transparent ;
    border-top: none;
    border-bottom-color:#ff7f50;
    position: absolute;
    left: 190px;
    display: none;
    transition:all 0.4s;
}
/*------------------------------------------------------------------*/
/*设置首页背景*/
#background{
    position: relative;
}
#background img{
    width: 100%;
}
#geek{
    position: absolute;
    top: 10%;
    left: 37%;
}
#geek img{
    width: 40%;
    transition: transform 0.2s;
}
#geek img:hover{
    transform: scale(1.7);
}

/*----------------------------------------------------------*/
#transition{
    width: 40%;
    margin: -10% auto 0;
    text-align: center;
}
h1{
    font-size: 60px;
    color:#00008b;
    display: inline-block;
}

/*设置介绍主题*/
.introduction{
    margin-top: 100px;
}

/*设置介绍卡片*/
#roles{
    width: 80%;
    margin: 25px auto;
    border: 5px solid #808080;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: transform 0.5s;   
}

#roles:hover{
    transform: scale(1.07);
}



/*设置人物图片*/

#roles img{
    width: 30%;
    transition: transform 1.0s;
}
#roles .right:hover{
    transform: rotate(-0.05turn);
}
#roles .left:hover{
    transform: rotate(0.05turn);
}

.left {
    float: left;
    margin-left: 3%;
    margin-top: 3%;
}
.right{
    float: right;
    margin-right: 3%;
    margin-top: 3%;
}

/*设置介绍文本*/
#righttext,#lefttext{
    width: 65%;
}
#words{
    font-size: 25px;
    margin: 0% 3% 4% 3%;    
}
/*设置左右的文本边距*/
#lefttext h2{
    padding-left: 8%;
    font-size: 50px;
}
#lefttext h3{
    padding-left: 5%;
    font-size: 40px;
}

/*设置右文字浮动和边距*/
#righttext{
    float: right;
}
#righttext h2{
    font-size: 50px;
}
#righttext h3{
    padding-right: 3%;
    font-size: 40px;
}

/*------------------------------------*/
/*设置AboutUs*/
.aboutus{
    width: 85%;
    margin: 120px auto;
    position: relative;
    border: 10px #808080 solid;
    border-radius: 20px;
    background-color:#fffdf5
}
.aboutus img{
    margin: auto;
    display: block;
}
#abrectangle{
    width: 80%;
    margin: 0 auto 50px;
}

#abrec1,
#abrec2,
#abrec3{
    float: left;
    width: 20%;
    border: 8px solid #800080;
    border-radius: 30px;
    margin: 15% 5.65% 14%;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

.aboutus div p{
    padding-top: 15%;
    padding-left: 9%;
    padding-right: 8%;
    font-size: 20px;
}

/*设置中间关于文字*/
#haboutus{
    font-size: 65px;
    color:#808080;
    width: 45%;
    margin: 2% auto -10%;
    text-align: center;
}

#abrec1,#abrec2,#abrec3{
    transition: transform 0.5s;
}
#abrec1:hover,#abrec2:hover,#abrec3:hover{
    transform: scale(1.10);
}
/*设置四边的装饰物位置*/
#upperright{
    position: absolute;
    right: -5%;
    top: -3%;
    width: 20%;
}
#lowerright{
    position: absolute;
    right: -5%;
    bottom: 0;
    width: 20%;
}
#upperleft{
    position: absolute;
    left: -5%;
    top: -3%;
    width: 20%;
}
#lowerleft{
    position: absolute;
    left: -5%;
    bottom: 0;
    width: 20%;
}
/*设置蝴蝶位置*/
#butterfly{
    position: absolute;
    right: 3%;
    bottom: 6%;
    cursor: pointer;
    width: 15%;
}
#butterfly:hover{
    transform: translateY(15px);
}
/*------------------------------------------------*/
/*设置contact us部分*/
.contact{
    position: relative;
    width: 85%;
    margin: 150px auto 100px;
    border:10px solid #008b8b;
    border-radius: 20px;
    padding-bottom: 100px;
}
/*设置大contactus文字*/
#hcontact{
    text-align: center;
    color: #2f4f4f;
    font-size: 65px;
    margin: 2% auto -12%;
    width: 45%;
}
/*设置要求文字*/
#request{
    width: 60%;
    margin: 15% auto 10%;
}
#request p{
    font-size: 30px;
    line-height: 50px;
}
#ps{
    width: 60%;
    margin: 5% auto 10%;
    color:#708090;
    font-size: 20px;
    line-height: 28px;  
    letter-spacing: 2px;
}
/*设置三个联系方式*/
#contact-a{
    position: absolute;
    width: 60%;
    bottom: 10%;
    margin: auto;
    margin-left: 23%;


}
#ca1,#ca2,#ca3{    
    font-size: 20px;
    color:#f0f8ff;
    background-color:#228b22;
    box-shadow:0 0 10px #00000080;
    margin: 0 3%;
    border-radius: 15px;
    padding: 8px 25px;
    transition: transform 0.5s;
    display: inline-block;
}
#ca1:hover,#ca2:hover,#ca3:hover{
    transform: scale(1.00);
    background-color:#008000;
    color: #c0c0c0;
}
/*设置装饰图片*/
#leavs{
    position: absolute;
    left: 25%;
    top:7%;
    width: 8%;
}
#lefttree{
    position: absolute;
    top:-8%;
}
#ladybug{
    position: absolute;
    left: -2%;
    bottom: -5%;
    cursor: pointer;
}
#righttree{
    position: absolute;
    right: -3%;
    bottom:-8%;
    width: 16.5%;
}
#chameleon{
    position: absolute;
    right: 10%;
    bottom: -8%;
}

/*---------------------------------------------------------*/
/*设置qa部分*/
.QA{
    width: 90%;
    border: 10px solid #6495ed;
    border-radius: 25px;
    margin: 150px auto 150px;
    background-image: url(./background_QA.png);
    
}

#hQA{
    text-align: center;
    font-size: 65px;
    color: #000000;
    width: 58%;
    margin: 2% auto -12%;
}
#QAlist{
    margin: 300px auto 200px;
    width: 60%;  
}
#QAul a{
    font-size: 30px;
    display: block;
    line-height: 80px;
    color: #000000;
    transition:all 0.5s;
}
#QAul p{
    padding: 10px;
    font-size: 27px;
    color: #f0f8ff;
    background-color:#0000001a;
    border-radius: 10px;
}
#QAul a:hover{
    color: #778899;
    transform: scale(1.1);
}
/*---------------------------------------------------------*/
.footer{
    height: 80px;
    width: 100%;
    border: 1px gray solid;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    box-shadow: #000000b3;
    background-color: #f6f7f8;
}
#ft1{
    font-size: 15px;
    width: 60%;
    margin: 25px auto 0;
    text-align: center;
}
#ft2{
    font-size: 15px;
    width: 60%;
    margin: 5px auto 0px;
    text-align: center;
}
/*小火箭*/
.rocket{
    position: fixed;
    right: 10px;
    bottom: 60px;
    height: 46px;
    width: 51px;
    overflow: hidden;
}
.rocket div{
    width: 45px;
    height: 40px;
    border: 3px solid black;
    position: absolute;
    transition: all 0.5s;
    border-radius: 15px;
    background-color: aliceblue;
}
#rokect1{
    top: 0px;
    left: 0px;
}
#rocket2{
    top: 49px;
    left: 0px;
}
.rocket:hover #rocket1{
    top: -49px;
    left: 0px;
}
.rocket:hover #rocket2{
    top: 0px;
    left: 0px;
}

.rocket p {
    font-size: 20px;
    display: inline-block;
    line-height: 40px;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

