body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center-container {
    text-align: center;
}

.center-container img {
    max-width: 100%;
    height: 500px;
    position:absolute;
    bottom: 250px;
    left:35%;
}

.countdown-container {
    text-align: center;
    position: absolute;
    bottom: 150px; /* 距离底部的距离 */
    left: 50%;
    transform: translateX(-50%);
}

#countdown {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.hello{
    position:absolute;
    margin: 10px 300px;
    bottom: 210px;
    font-size: 20px;
}